.table.align-middle td,
.table.align-middle th {
    vertical-align: middle;
}

.mark, mark {
    padding: 0.2em;
    background-color: #ffff00 !important;
}


.swal2-title {
  font-size: 1.6rem !important;
}